
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: left 0.3s, width 0.3s;
}

#sidebar {
  position: absolute;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  transition: left 0.3s;
}

#sidebar.open {
  left: 0;
}

#sidebar.open ~ #map {
  left: 250px;
  width: calc(100% - 250px);
}

#menu-toggle {
  font-size: 24px;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1100;
}

#close-btn {
  font-size: 30px;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1100;
  display: block;
}

#sidebar h2 {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #sidebar {
    left: -250px;
  }

  #sidebar.open {
    left: 0;
  }

  #map {
    left: 0;
    width: 100%;
  }

  #sidebar.open ~ #map {
    left: 0;
    width: 100%;
  }

  #menu-toggle {
    display: block;
  }

  #close-btn {
    display: block;
  }
}

@media (min-width: 769px) {
  #menu-toggle {
    display: block;
  }

  #close-btn {
    display: block;
  }
}
