
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  transition: transform 0.3s ease;
}


#menu-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1500;
  background-color: white;
  border: none;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


#map {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  transition: left 0.3s ease, width 0.3s ease;
}

@media (max-width: 768px) {
  #sidebar {
    transform: translateX(-100%);
  }

  #sidebar.active {
    transform: translateX(0);
  }

  #map {
    left: 0;
    width: 100%;
  }
}